/* global variable */
$width: 90%;
$max-width: 1080px;
$title-font: "CooperLightBT";
$normal-font: "Noto Sans KR", sans-serif;
$main-color: #015aaa;
$point-color: #f598a4;
$font-color: #2e3035;
$gray-color: #dedede;
$hover-effect: all 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$hover-effect-height: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
$height-effect-translate: translateY(200px);
$height-effect-opacity: 0;
