#containerWrap{width:100%; max-width:1900px; min-width:960px; margin:0 auto; overflow:hidden; padding-top:97px;}

/*#################    mainVisual    ####################*/
#mainVisual{width:100%;}
#mainVisual ul li{text-align:center; overflow:hidden;}
#mainVisual ul li img.main{width:100%;}


/*#################    photoTitle   ####################*/
.photoTitle{width:960px; height:150px; margin:65px auto 10px; position:relative; border-bottom:1px solid #cacaca;}

.photoTitle p.line{width:100%; height:1px; background-color:#cacaca;}
.photoTitle p.titleLogo {width:45px; padding:0 40px; background-color:#fff; position:absolute; left:50%; top:-40px; margin-left:-70px;}
.photoTitle p.titleLogo img{width:100%;}


.photoTitle h3{width:960px; padding:35px 10px 0; margin:0 auto; text-align:center; font-size:45px; font-weight:1000; color:#00519E;}
.photoTitle span{display:block; text-align:center; font-size:17px; color:#aeaeae;}

/*#################    mainSnsArea   ####################*/
.mainSnsArea{width:960px; margin:0 auto 20px; text-align:center;}
.mainSnsArea a{width:25px; display:inline-block; margin:5px 3px 10px;}
.mainSnsArea a img{width:100%;}


/*#################    photoArea   ####################*/
.photoArea{width:960px; height:1700px; margin:0 auto;}
.photoArea ul{width:310px; margin-left:14px; float:left; opacity:1;}
.photoArea ul.photo1{margin-left:0; animation:photo 1s 1 alternate ease;}
.photoArea ul.photo2{animation:photo 1.5s 1 alternate ease;}
.photoArea ul.photo3{animation:photo 2s 1 alternate ease;}

.photoArea li{width:310px; height:302px; margin-bottom:30px; position:relative;}

.photoArea li:before{content:""; display:block; width:298px; height:3px; background-color:#777; position:absolute; left:6px; top:-3px;}
.photoArea li:after{content:""; display:block; width:286px; height:3px; background-color:#ccc; position:absolute; left:12px; top:-6px;}


/*#################    photoArea + imgArea   ####################*/
.photoArea li .imgArea{width:310px; height:186px; overflow:hidden;}
.photoArea li .imgArea img{width:100%;}
.photoArea li p.photoline{width:85%; height:2px; margin-top:5px; float:right; background-color:#cacaca;}


/*#################    photoArea + textArea   ####################*/
.photoArea li .textArea{width:294px; height:96px; padding:9px; background-color:rgba(250,250,250,1);}
.cate {font-size:12px; color:#414141; padding-top:6px; text-indent:7px;}
.textArea h4{font-size:16px; height:40px; font-weight:400; line-height:1.3em; padding:7px 0 0px; margin-left:7px;}

.photoIcon{width:95%; height:30px; position:relative; font-size:12px; text-align:right;}
.photoIcon img{width:18px; vertical-align:bottom; margin-right:6px; transition:opacity .5s ease}
.photoIcon img:last-child{position:absolute; right:38px; top:0; opacity:0;}

/*#################    photoArea + hover   ####################*/

.photoArea li:hover .imgArea img{transform:scale(1.1)}
.photoArea li:hover .textArea, .photoArea li:hover .cate{color:#00519E}
.photoArea li:hover p.photoline{background-color:#00519E}
.photoArea li:hover img:last-child{opacity:1}



.cate, .photoArea h4, .photoArea p.photoline, .photoArea .imgArea img{transition:all .3s ease-in-out;}

/*#################    photoArea + animaiton   ####################*/
@keyframes photo{
        0%{opacity:0; transform:translateY(300px)}
        100%{opacity:1; transform:translateY(0)}
}




.textArea{font-family:"Oswald-Light"};

